---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Harsh, a data scientist from India.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>LangChain</li>
        <li>Python</li>
        <li>LangGraph</li>
        <li>Snowflake</li>
        <li>Python</li>
        <li>SQL</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond the code editor, you’ll usually find me: Competing in esports, Hunting for 
      mountain treks, Sharing AI news & thought‑starters. 
      interesting pieces of history to me.
    </p>
    <p class="text-sm font-light">
      My goal? To demystify advanced AI and ship solutions that are as 
      intuitive for users as they are sophisticated under the hood.
    </p>
  </div>
</Card>
