---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>LangChain</li>
        <li>AI Agents</li>
        <li>LangGraph</li>
        <li>Snowflake</li>
        <li>Python</li>
        <li>SQL</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond the code editor, you’ll usually find me:
    </p>
    <div class="flex flex-col gap-2">
      <div class="text-sm font-light">
        <ul class="list-disc list-inside">
          <li>Competing in esports</li>
          <li>Hunting for mountain treks</li>
          <li>Experimenting and building AI apps</li>
        </ul>
    <div class="bg-neutral-800 p-4 rounded-md shadow-md border border-neutral-700 mb-3">
      <h3 class="text-sm text-neutral-400 mb-1">My Goal</h3>
      <p>To simplify advanced AI and ship solutions that feel intuitive, yet powerful under the hood.</p>
    </div>
  </div>
</Card>
