---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Let's start working together!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>admin@harshmaan.com</p>
      <p>Hyderabad, India</p>
    </address>
    <!-- Chat Trigger Button -->
    <button
      id="chatbox-open"
      class="mt-4 w-full bg-neutral-800 border border-neutral-700 text-white py-2 px-4 rounded-lg hover:bg-neutral-700 transition"
    >
      Talk to my AI twin 💬
    </button>
  </div>
</Card>
