---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-lg font-bold">
        Get answers about my work, skills, and projects — powered by Google API
      </h1>
    </header>

    <!-- Talk to my AI Twin -->
    <button
      id="chatbox-open"
      class="mt-2 w-full border-2 border-red-500 border-b-[3px] text-white bg-transparent hover:bg-red-600 hover:text-white px-4 py-2 rounded-lg transition text-sm font-medium"
    >
      Talk to my AI twin 💬
    </button>

    <!-- Spacer -->
    <div class="h-4"></div>

    <header class="flex items-center">
      <h1 class="text-white text-lg font-bold">
        My Digital Twin Speaks Also!
      </h1>
    </header>

    <!-- Ask & Hear Voice -->
    <button
      id="play-voice-btn"
      class="mt-2 w-full border-2 border-red-500 border-b-[3px] text-white bg-transparent hover:bg-red-600 hover:text-white px-4 py-2 rounded-lg transition text-sm font-medium"
    >
      🎤 Ask & Hear Voice
    </button>
  </div>
</Card>
