---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Get answers about my work, skills, and projects — powered by AI
      </h1>
    </header>
    <!-- Chat Trigger Button -->
    <button
      id="chatbox-open"
      class="mt-4 w-full bg-neutral-800 border border-neutral-700 text-white py-3 px-4 text-base font-medium rounded-lg hover:bg-neutral-700 transition"
    >
      Talk to my AI twin 💬
    </button>
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Where to find me (digitally or otherwise)
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <p>admin@harshmaan.com</p>
      <p>Hyderabad, India</p>
    </address>

  </div>
</Card>
