---
import { getCurrentTimeInItaly, formatTimeForItaly } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="">
  <div class="h-[calc(100%-28px)] flex flex-col justify-center items-center text-center px-4">
    <h2 class="mt-2 text-xl font-bold text-white mb-2">ReputAI – Your CXO's Narrative, decoded by AI.</h2>

    <p class="text-sm text-gray-400 mb-4 max-w-md">
      ReputAI analyzes Reddit conversations to decode public perception of CXOs using AI.
      Currently, the tool works only on desktop browsers and is not optimized for mobile.
    </p>

    <a
      href="/persona-tracker"
      class="border-2 border-red-500 border-b-[3px] text-white bg-transparent hover:bg-red-600 hover:text-white px-4 py-2 rounded-lg transition text-sm font-medium"
    >
      🚀 Open ReputAI
    </a>
  </div>
</Card>
